/*style.css*/

@font-face {
    font-family: '전주완판본 순B';
    src: url(./font/전주완판본\ 순B.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

:root {
    --main-bg-color : #72CEEE;
    --main-color : #422C73;
    --sub-color1 :  #DB342C;
    --sub-color2 : #D49E1C;

    
}

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}
#title{
    background: #ccc;
    height: 100vh;
}
header {
    background-color: #72CEEE;
    background-image: url(./images/header-bg.jpg);
    background-size: contain;
    /*높이값 = 28%, vh(viewport height)*/
    height: 31vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .logo {
    width: 120px;
}

header h1 {
    font-family: '전주완판본 순B', serif;
    font-size: 28px;
    color: var(--main-color);
}

header h1 > span {
    font-size: 18px;
}
#title > .title-photo {
    height: 50vh;
    /* outline: 2px solid #000; */
}
#title > .title-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title .title-footer {
    background: #fff;
    height: 19vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title .title-footer .data  {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

#title .title-footer .address {
    font-weight: normal;
    font-size: 16px;
}